Pramod_bhagat/Day5/Bolt_n8n_Viral_LinkedinPost_Creator.json
{
  "name": "Bolt_n8n_Viral_LinkedinPost_Creator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee3e9945-97dc-470e-9ee5-053d528e15eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "20453460-2da7-469c-8e9e-5ce4a0b55b5d",
      "name": "Webhook",
      "webhookId": "ee3e9945-97dc-470e-9ee5-053d528e15eb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Create a LinkedIn post with the following details:\\n\\n- Theme: -{{ $json.body.theme }} Category:{{ $json.body.category }} \\n- Tone: {{ $json.body.tone }}\\n- Length:{{ $json.body.length }} \n\n\\n\\nGuidelines:\\n1. Start with a strong hook to capture attention in the first 2 lines.\\n2. Keep the writing style engaging, professional, and authentic.\\n3. Make it easy to read with short sentences and clear flow.\\n4. Ensure the post fits LinkedIn’s style (not too casual, not too academic).\\n5. End with either a takeaway, a motivational line, or a subtle call-to-action (without sounding salesy).\\n\\nNow, generate the LinkedIn post.\"\n\nDon't use * and \\n in response. Format the post in paragraphs to look good for Linkedin",
        "options": {
          "systemMessage": "You are an expert LinkedIn content creator who writes highly engaging, professional, and authentic posts tailored to specific needs."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "d5ec3fb0-ae66-4f79-b986-43583b51ecb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "0a6a8ea7-2b19-44a8-b07b-2966922aad89",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "20c84917-2446-49f4-9270-28efb9d31ed5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        336
      ],
      "id": "cc5cb14d-fffb-472f-a9d7-dfe934b5123b",
      "name": "Webhook1",
      "webhookId": "20c84917-2446-49f4-9270-28efb9d31ed5"
    },
    {
      "parameters": {
        "person": "cUPehbEeUB",
        "text": "={{ $json.body.post_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        512,
        336
      ],
      "id": "0fa62197-c954-40e0-9ea5-be67be3e707d",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "zetEnjSnMlPK3Xkg",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        176
      ],
      "id": "15796d1b-fd07-4cd7-bbb5-e3880494c58c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "WvABWxZezZucV20h",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc0474af-1ff4-4e3c-800e-1b55f7f5c409",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0b28b1f9db405e1ac40a9cafa061f1b4399cbc861566181fa0631926925f79b"
  },
  "id": "RGJOLRs5X6VGNz2G",
  "tags": []
}