Pramod_bhagat/Day5/Video_Resume_Coverletter.json
{
  "name": "Video_Resume_Coverletter",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0",
          "mode": "list",
          "cachedResultName": "Content_automate_videoV2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0/edit#gid=1158507694"
        },
        "options": {}
      },
      "id": "0f9b4d22-14e3-4f79-94d9-185557df1488",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "PwNmut6WKBRvhgnb",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // Use the field name containing the original idea text\n    \"Idea\": $('Code2').first().json.Idea,\n\n    // Use the field name containing the script generated by the LLM\n    \"Generated Script\": $input.first().json.message.content,\n\n    // Set the status for the Google Sheet update\n    \"Approval Status\": \"Pending\",\n    \"Status\": \"Processing\"\n  }\n}];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        256
      ],
      "id": "1c40ef91-db18-4e37-b3fb-3dddaddc37b6",
      "name": "Code1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        256
      ],
      "id": "437d86e6-9417-40e5-a5d3-37ca6c6b8eb7",
      "name": "Wait",
      "webhookId": "337b37b2-3d9d-412d-8918-73c650f6800f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33aeca1e-ce82-46b8-b36b-1fc2d224eb8c",
              "leftValue": "={{ $json['Approval Status'].trim() }}",
              "rightValue": "=Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        528
      ],
      "id": "ef9c6ee1-f57d-4a1b-80ad-5d22da063a0c",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "=ZDkwYmRkZmE2NzVjNDc1ZThjMWEwZmZkMWM5NDlmZDctMTc0MjEyNTE5NA=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"ca51d13edad94c6389783fe1e2f5be90\", \n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json['Generated Script'] }}\",\n        \"voice_id\": \"ea59a0f7d7ee4f4795e554ec6068a77b\", \n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  }\n}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        496
      ],
      "id": "74268acb-4bab-4023-91fc-18000513b997",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1408,
        704
      ],
      "id": "38f6eb81-1f03-429b-bbde-e6e79c332823",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        496
      ],
      "id": "03b03570-3864-40ec-abec-a76daa71bc9f",
      "name": "Wait1",
      "webhookId": "ef04dfb8-3958-49d7-832d-7a803171c7f0"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "=081ed576e96944f6be454024570ba352"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "ZDkwYmRkZmE2NzVjNDc1ZThjMWEwZmZkMWM5NDlmZDctMTc0MjEyNTE5NA=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        496
      ],
      "id": "b5b4fdb7-d46f-4c6e-8c6b-ab5b6109ab73",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.data.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        496
      ],
      "id": "6f47fce8-f00e-4b45-8557-a9b4f0da3384",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"my_new_field\"] = 1\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "23c08921-c08d-4010-a6b0-5c4dafa1bb2d",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        816,
        256
      ],
      "id": "42a25228-def6-4de3-9540-a9c2907da40d",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0",
          "mode": "list",
          "cachedResultName": "Content_automate_videoV2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0/edit#gid=1158507694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idea": "={{ $json.Idea }}",
            "Generated Script": "={{ $json['Generated Script'] }}",
            "Approval Status": "={{ $json['Approval Status'] }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Idea"
          ],
          "schema": [
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Script",
              "displayName": "Generated Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1488,
        256
      ],
      "id": "6bc47706-0abb-4ce3-b8b8-e03f00cb2fc0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AdSUexdEQZTJFMQ8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0",
          "mode": "list",
          "cachedResultName": "Content_automate_videoV2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HpYSUPgFO8ieIVIqX49hpGeHnTRe3EazMwsAAausJh0/edit#gid=1158507694"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        256
      ],
      "id": "4c2d1b8a-d12f-4259-b8a9-10a88ebabf20",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AdSUexdEQZTJFMQ8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a resume video expert where your task is to generate a script about my profile for 60 seconds where I will be introducing the recruiter or hiring manager with personalised resume video about my profile and why I am suited for this role. \n\nJust output me pure english script without scenes or any other thing as this text is fed to Heygen to create a personalised AI avatar video ",
              "role": "system"
            },
            {
              "content": "=This is the idea -  {{ $json.Idea }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        384,
        288
      ],
      "id": "8ea1d312-5166-4f92-9969-e34f5b6f21f7",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "p19XVmjQlOerzfNw",
          "name": "Open Router"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // Use the field name containing the original idea text\n    \"Idea\": $('Code2').first().json.Idea,\n\n    // Use the field name containing the script generated by the LLM\n    \"Generated Script\": $input.first().json.message.content,\n\n    // Set the status for the Google Sheet update\n    \"Approval Status\": \"Pending\",\n    \"Status\": \"Completed\"\n  }\n}];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        496
      ],
      "id": "6f2a8e36-e95d-476f-b163-a648f350a6c0",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM",
          "mode": "list",
          "cachedResultName": "Content_automate_video",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158507694,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KgPxSktjJJOI5uC9xU3PqMYZV5cl78o0C3Y5aL6hJmM/edit#gid=1158507694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idea": "={{ $json.Idea }}",
            "Approval Status": "={{ $json['Approval Status'] }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Idea"
          ],
          "schema": [
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Script",
              "displayName": "Generated Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Approval Status",
              "displayName": "Approval Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2560,
        496
      ],
      "id": "5fb627f8-52bc-4ffa-843d-a920ac1da583",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AdSUexdEQZTJFMQ8",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7eb2f1e8-60cd-4b6c-a525-04ca07494f4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0b28b1f9db405e1ac40a9cafa061f1b4399cbc861566181fa0631926925f79b"
  },
  "id": "i3fCds3QUGsmNmaH",
  "tags": []
}